apiVersion: apps/v1
kind: Deployment
metadata:
  name: ppl-calculations
  labels:
    app: ppl-calculations
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ppl-calculations
  template:
    metadata:
      labels:
        app: ppl-calculations
      annotations:
        linkerd.io/inject: "enabled"
    spec:
      serviceAccountName: ppl-calculations
      securityContext:
        runAsUser: 10001
        runAsGroup: 30001
        fsGroup: 30001
      volumes:
        - name: cache-folder
          emptyDir: {}
      containers:
        - name: ppl-calculations
          image: ghcr.io/michaelvlaar/ppl-calculations:v1.2.12
          imagePullPolicy: Always
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - mountPath: /cache/
              name: cache-folder
          env:
            - name: PORT
              value: "8080"
            - name: SECURE_COOKIE
              value: "true"
            - name: TMP_PATH
              value: "/cache/"
            - name: CSRF_KEY
              valueFrom:
                secretKeyRef:
                  name: ppl
                  key: CSRF_KEY
            - name: SESSION_KEY
              valueFrom:
                secretKeyRef:
                  name: ppl
                  key: SESSION_KEY
          ports:
            - containerPort: 8080
              name: http
          livenessProbe:
            httpGet:
              port: 8080
              path: /healthz
            initialDelaySeconds: 3
            periodSeconds: 3
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
