.custom-select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-right: 2.5rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5rem;
}

.table-row:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#trip-duration,
#alternate-duration {
    display: none;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(25, 116, 253);
    border-radius: 50%;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(30, 146, 255);
    box-shadow: inset 0 0 50px rgb(0,0,0,.3);
}

.waves::before,
.waves::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.waves::before {
    border-radius: 45%;
    background: rgb(248, 248, 248);
    animation: wave91234 5s linear infinite;
}

.waves::after {
    border-radius: 40%;
    background: rgb(255,255,255,.5);
    animation: wave91234 10s linear infinite;
}

@keyframes wave91234 {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}