{{ define "calculations_form" }}
<div id="content-container" class="w-full flex flex-col">
    {{ block "stepper" . }}{{ end }}
    <form hx-post="/stats" id="main-form" hx-swap="outerHTML show:#content-container:top" hx-target="#content-container"
          class="w-full flex flex-col">
        <div class="text-center mb-2 mt-2">
            <h1 class="text-xl font-bold uppercase">Brandstofplanning</h1>
        </div>
        <div class="mb-4 flex w-full flex-col">
            {{ if not .FuelSufficient }}
            <div class="mt-4 mb-4 p-4 bg-red-100 border-l-4 border-red-500 text-red-700">
                <p class="text-sm">
                    De huidige brandstofvoorraad van {{ .FuelTotal }} is onvoldoende om de geplande vlucht veilig uit te
                    voeren. Er moet minimaal {{ .FuelExtraAbs }} extra brandstof worden bijgetankt om te voldoen
                    aan de veiligheidsvoorschriften.
                </p>
            </div>
            {{ end }}
            <table class="border border-gray divide-y divide-gray-200">
                <thead class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Brandstofcategorie
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">
                        &nbsp;
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Taxi
                        Brandstof</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelTaxi }}</td>
                </tr>
                <tr class="table-row bg-gray-50">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Reisbrandstof (17L/h)</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelTrip }}</td>
                </tr>
                <tr class="table-row">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Onvoorziene brandstof (10%)</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelContingency }}</td>
                </tr>
                <tr class="table-row bg-gray-50">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Brandstof alternatieve luchthaven</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelAlternate }}</td>
                </tr>
                <tr class="table-row">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Eindreservebrandstof (45&nbsp;minuten)</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelReserve }}</td>
                </tr>
                {{ if not .FuelSufficient }}
                <tr class="table-row bg-red-100">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Extra brandstof</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelExtra }}</td>
                </tr>
                {{ else }}
                <tr class="table-row bg-gray-50">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Extra brandstof</th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelExtra }}</td>
                </tr>
                {{ end }}
                </tbody>
                <tfoot class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">
                        Totaal
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .FuelTotal }}</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="text-center mb-2 mt-2">
            <h1 class="text-xl font-bold uppercase">Gewicht en Balans</h1>
        </div>

        {{ if not .WeightAndBalanceTakeOff.WithinLimits }}
        <div class="mt-4 mb-4 p-4 bg-red-100 border-l-4 border-red-500 text-red-700">
            <p class="text-sm">
                De huidige gewichts- en balansberekening geeft aan dat de belading van het vliegtuig buiten de
                toegestane limieten valt. Controleer en herbereken de gewichts- en balansverdeling zorgvuldig om te
                voldoen aan de veiligheidsvoorschriften.
            </p>
        </div>
       {{ end }}
        <img src="{{ .ChartUrl }}" alt="Chart" class="w-full mb-2 sm:w-1/2 mx-auto">

        <div class="flex flex-col lg:flex-row lg:space-x-4 space-y-4 lg:space-y-0">
        <div class="w-full lg:w-1/2">
            <div class="text-center mb-2 mt-2">
                <h2 class="text-xl font-bold uppercase">Take-off</h2>
            </div>
            <table class="border border-gray min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">NAME</th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider hidden md:block">LEVER ARM [M]</th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">MASS [KG]</th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">MASS MOMENT [KG M]</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $item := .WeightAndBalanceTakeOff.Items }}
                <tr class="table-row {{ if mod $index 2 }}bg-gray-50{{ end }}">
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">{{ $item.Name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-right hidden md:block">{{ $item.LeverArm }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-right">{{ $item.Mass }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-right">{{ $item.MassMoment }}</td>
                </tr>
                {{ end }}
            </tbody>
            <tfoot class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Total</th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider hidden md:block">{{ .WeightAndBalanceTakeOff.Total.LeverArm }}</th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">{{ .WeightAndBalanceTakeOff.Total.Mass }}</th>
                    <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">{{ .WeightAndBalanceTakeOff.Total.MassMoment }}</th>
                </tr>
            </tfoot>
        </table>
        </div>
        <div class="mt-4 md:hidden p-4 bg-blue-100 border-l-4 border-blue-500 text-blue-700">
            <p class="text-sm">
                Sommige gegevens zijn verborgen vanwege beperkte ruimte. Draai uw apparaat naar landschapsmodus om alle informatie te bekijken.
            </p>
        </div>
        <div class="w-full lg:w-1/2">
            <div class="text-center mb-2 mt-2">
                <h2 class="text-xl font-bold uppercase">Landing</h2>
            </div>
        <table class="border border-gray min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-200">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">NAME</th>
                <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider hidden md:block">LEVER ARM [M]</th>
                <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">MASS [KG]</th>
                <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">MASS MOMENT [KG M]</th>
            </tr>
            </thead>
            <tbody>
            {{ range $index, $item := .WeightAndBalanceLanding.Items }}
            <tr class="table-row {{ if mod $index 2 }}bg-gray-50{{ end }}">
                <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">{{ $item.Name }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-right hidden md:block">{{ $item.LeverArm }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-right">{{ $item.Mass }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-right">{{ $item.MassMoment }}</td>
            </tr>
            {{ end }}
            </tbody>
            <tfoot class="bg-gray-200">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Total</th>
                <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider hidden md:block">{{ .WeightAndBalanceLanding.Total.LeverArm }}</th>
                <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">{{ .WeightAndBalanceLanding.Total.Mass }}</th>
                <th class="px-6 py-3 text-right text-xs font-medium text-gray-900 uppercase tracking-wider">{{ .WeightAndBalanceLanding.Total.MassMoment }}</th>
            </tr>
            </tfoot>
        </table>
        </div>
        </div>
        <div class="mt-4 md:hidden p-4 bg-blue-100 border-l-4 border-blue-500 text-blue-700">
            <p class="text-sm">
                Sommige gegevens zijn verborgen vanwege beperkte ruimte. Draai uw apparaat naar landschapsmodus om alle informatie te bekijken.
            </p>
        </div>
        <div class="text-center mt-8">
            <h1 class="text-2xl font-bold uppercase">Prestaties</h1>
        </div>

        {{ if not .WeightAndBalanceTakeOff.WithinLimits }}
        <div class="mt-4 mb-4 p-4 bg-red-100 border-l-4 border-red-500 text-red-700">
            <p class="text-sm">
                De prestaties kunnen niet worden berekend omdat de huidige gewichts- en balansberekening aangeeft dat de belading van het vliegtuig buiten de toegestane limieten valt. Controleer en herbereken de gewichts- en balansverdeling zorgvuldig om te voldoen aan de veiligheidsvoorschriften
            </p>
        </div>
        {{ else }}
        <img src="{{ .TdrUrl }}" alt="Chart" class="w-100 h-100 lg:w-100 lg:h-100 mb-2">
        <img src="{{ .LdrUrl }}" alt="Chart" class="w-100 h-100 lg:w-100 lg:h-100 mb-2">

        <table class="border border-gray divide-y divide-gray-200">
            <thead class="bg-gray-200">
            <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Name</th>
                <th class="px-6 py-3 text-center text-xs font-medium text-gray-900 uppercase tracking-wider">Distance [m]</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row"><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">Take-off Run Required (Ground Roll)</td><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .TakeOffRunRequired }}</td></tr>
            <tr class="table-row bg-gray-50"><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">Take-off Distance Required</td><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .TakeOffDistanceRequired }}</td></tr>
            <tr class="table-row"><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">Landing Distance Required</td><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .LandingDistanceRequired }}</td></tr>
            <tr class="table-row bg-gray-50"><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">Landing Ground Roll Required</td><td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900 text-center">{{ .LandingGroundRollRequired }}</td></tr>
            </tbody>
        </table>
        {{ end }}
        <div class="mt-4 flex items-center justify-between">
            <div hx-on:click="document.getElementById('stepper-back-fuel').click()"
                   class="cursor-pointer text-center mr-1 w-full bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Vorige</div>
            <input name="submit" value="Volgende" type="submit"
                   class="cursor-pointer w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
    </form>
</div>
{{ end }}