{{ define "download" }}
<form hx-post="/download" hx-swap="outerHTML" class="flex flex-1 min-w-[120px] inline-flex items-center justify-center bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition">
  <input name="id" value="{{ .ID }}" type="hidden" />
  <button type="submit"
          class="flex cursor-pointer items-center justify-center text-white font-semibold">
    <span class="material-icons mr-2">file_download</span> Download
  </button>
</form>
{{ end }}
{{ define "generate_download" }}
<div
   class="flex flex-1 min-w-[120px] inline-flex items-center justify-center bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition">
  <form hx-get="/download" hx-target="closest div" hx-swap="outerHTML">
    <input name="id" value="{{ .ID }}" type="hidden" />
    <button id="f-download-{{ .ID }}" type="submit" class="d-none"></button>
  </form>
  <span class="material-icons mr-2">downloading</span> Genereren
  <script>
    fetch("{{ .Url }}").then((response) => {
      if (!response.ok) {
        console.error("cannot download export")
        return
      }

      response.blob().then((blob) => {
        const blobUrl = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = blobUrl;
        a.download = "{{ .Name }}.pdf";
        a.style.display = 'none';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(blobUrl);

        document.getElementById("f-download-{{ .ID }}").click();
      }).catch((err) => console.error(err))

    }).catch((err) => console.error(err));
  </script>
</div>
{{ end }}
