<div class="w-full flex flex-col" id="content-container">
<form class="w-full mb-2 flex flex-col" hx-post="/reset" hx-target="#content-container"
      hx-swap="outerHTML">
    <p>Uw download zal automatisch starten. U wordt binnen enkele seconden doorgestuurd.</p>

   <script>
       fetch("/download?name={{ .Reference }}").then((response) => {
           if (!response.ok) {
               console.error("cannot download export")
               return
           }

           response.blob().then((blob) => {
               const blobUrl = URL.createObjectURL(blob);
               const a = document.createElement('a');
               a.href = blobUrl;
               a.download = "{{ .Reference }}.pdf";
               a.style.display = 'none';
               document.body.appendChild(a);
               a.click();
               document.body.removeChild(a);
               URL.revokeObjectURL(blobUrl);

               document.getElementById("btn-download-continue").click();
           }).catch((err) => console.error(err))

       }).catch((err) => console.error(err));
   </script>

    <div class="mt-4 flex items-center justify-between">
    <input type="submit" value="Verder" id="btn-download-continue"
           class="cursor-pointer w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
    </div>
</form>
</div>