<div class="w-full flex flex-col" id="content-container">
<form class="w-full mb-2 flex flex-col" hx-post="/reset" hx-target="#content-container"
      hx-swap="outerHTML" hx-trigger="load delay:2s" >
    <p>Uw download zal automatisch starten. U wordt binnen enkele seconden doorgestuurd.</p>
   <script>
        window.open("/download?name={{ .Reference }}", "_blank")
   </script>

    <div class="mt-4 flex items-center justify-between">
    <input type="submit" value="Verder"
           class="cursor-pointer w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
    </div>
</form>
</div>