{{ define "fuel_form" }}
<div class="w-full flex flex-col" id="content-container">
    {{ block "stepper" . }}{{ end }}
    <form class="w-full mb-2 flex flex-col" id="main-form" hx-post="/fuel" hx-target="#content-container"
          hx-swap="outerHTML">
        <div class="flex flex-col">
            <div class="mb-4 flex w-full flex-col">
                <label for="fuel-type" class="uppercase block text-gray-700 font-bold mb-2">Brandstof Type</label>
                <select aria-label="Type brandstof" id="fuel-type" name="fuel_type"
                        class="custom-select shadow-sm appearance-none border rounded-sm px-3 py-2 text-gray-700 leading-tight focus:outline-hidden focus:shadow-outline"
                        required>
                    <option value="mogas" {{ if ne .FuelType "avgas" }}selected{{ end }}>Mogas</option>
                    <option value="avgas" {{ if eq .FuelType "avgas" }}selected{{ end }}>Avgas</option>
                </select>
            </div>
            <div class="mb-4 flex w-full flex-col">
                <label for="fuel-quantity-type" class="uppercase block text-gray-700 font-bold mb-2">Brandstof
                    Eenheid</label>
                <select aria-label="Brandstof eenheid" id="fuel-quantity-type" name="fuel_unit"
                        class="custom-select shadow-sm appearance-none border rounded-sm py-2 px-3 text-gray-700 leading-tight focus:outline-hidden focus:shadow-outline"
                        required>
                    <option value="liter" {{ if ne .FuelVolumeUnit "gallon" }}selected{{ end }}>Liters</option>
                    <option value="gallon" {{ if eq .FuelVolumeUnit "gallon" }}selected{{ end }}>Gallon</option>
                </select>
            </div>
            <div class="mb-4 flex w-full flex-col">
                <label for="trip-duration" class="uppercase block text-gray-700 font-bold mb-2">Reisduur</label>
                <input id="trip-duration" required type="hidden" name="trip_duration" {{ if .TripDuration }}value="{{ .TripDuration }}"{{ else }}value="01:00"{{ end }}>
            </div>
            <div class="mb-4 flex w-full flex-col">
                <label for="alternate-duration" class="uppercase block text-gray-700 font-bold mb-2">Reisduur alternatieve
                    luchthaven</label>
                <input id="alternate-duration" required  type="hidden" name="alternate_duration" {{ if .AlternateDuration }}value="{{ .AlternateDuration }}"{{ else }}value="00:30"{{ end }}>
            </div>
            {{ block "fuel_form_max_fuel_option" . }}{{ end }}
        </div>
        <div class="flex items-center justify-between">
            <div hx-trigger="click" hx-get="/load" hx-target="#content-container" hx-swap="outerHTML"
                 class="cursor-pointer mr-1 text-center w-full bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-sm focus:outline-hidden focus:shadow-outline">Vorige</div>
            <input id="next-button" name="submit" value="Volgende" type="submit"
                   class="cursor-pointer w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded-sm focus:outline-hidden focus:shadow-outline">
        </div>
        <script src="js/fuel.js"></script>
    </form>
</div>
{{ end }}