<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Berekeningen Aquila A210</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%2280%22>&#128747;</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body class="bg-white">
    <header class="bg-indigo-600 text-white fixed w-full top-0 z-50">
        <div class="max-w-7xl mx-auto px-2">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="ml-2 flex items-center">
                        <span class="text-lg font-semibold uppercase">&#128747; Berekeningen</span>
                    </div>
                </div>
                <div class="flex items-center">
                    <a target="_blank" href="https://www.pay.nl/doneren/SL-8940-9333/0Lc03af/?amount_min=100&amount=500"
                       class="flex items-center bg-indigo-500 text-white font-semibold py-2 px-4 rounded hover:bg-indigo-400 transition duration-300 ease-in-out no-print">
                        <span class="material-icons mr-2">favorite</span>Doneer</a>
                </div>
            </div>
        </div>
    </header>
    <main class="max-w-7xl mx-auto mt-16 p-4">
        <div class="flex flex-col lg:items-stretch w-full" id="#main">
            {{ if eq .Step "weight" }}
                {{ block "wb_form" . }}{{ end }}
            {{ else if eq .Step "fuel" }}
                {{ block "fuel_form" . }}{{ end }}
            {{ else if eq .Step "stats" }}
                {{ block "calculations_form" . }}{{ end }}
            {{ else if eq .Step "export" }}
                {{ block "export_form" . }}{{ end }}
            {{ end }}
        </div>
    </main>
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRF-Token'] = '{{ .CSRF }}';
        });
    </script>
</body>
</html>
