{{ define "wb_form" }}
<div class="w-full flex flex-col" id="content-container">
    {{ block "stepper" . }}{{ end }}
    <form class="w-full mb-2 flex flex-col" id="main-form" hx-post="/" hx-target="#content-container"
          hx-swap="outerHTML show:top">
        <div class="flex flex-col sm:flex-row">
            <div class="w-full flex flex-col sm:mr-2">
                <div class="mb-4"> <label for="callsign"
                                          class="uppercase block text-gray-700 font-bold mb-2">Vliegtuig</label>
                    <select id="callsign" name="callsign"
                            class="custom-select shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer"
                            required>
                        <option value="PHDHA" {{ if eq (derefString .CallSign) "PHDHA" }}selected{{ end }}>PHDHA</option>
                        <option value="PHDHB" {{ if eq (derefString .CallSign) "PHDHB" }}selected{{ end }}>PHDHB</option>
                    </select>
                </div>
                <div class="flex w-full">
                    <div class="mb-4 w-1/2 mr-1">
                        <label for="piloot-gewicht" class="uppercase block text-gray-700 font-bold mb-2">Piloot
                            (kg)</label>
                        <input type="number" placeholder="Gewicht piloot in kg" min="0" id="piloot-gewicht" {{ if .Pilot }}value="{{ .Pilot }}"{{ end }} name="pilot"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               required></div>
                    <div class="mb-4 w-1/2 ml-1"> <label for="pilot-seat"
                                                         class="uppercase block text-gray-700 font-bold mb-2">Stoel Positie</label>
                        <select id="pilot-seat" name="pilot_seat"
                                class="custom-select shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer"
                                required>
                            <option value="b" {{ if eq (derefString .PilotSeat) "b" }}selected{{ end }}>Achter</option>
                            <option value="m" {{ if eq (derefString .PilotSeat) "m" }}selected{{ end }}>Midden</option>
                            <option value="f" {{ if eq (derefString .PilotSeat) "f" }}selected{{ end }}>Voor</option>
                        </select>
                    </div>
                </div>
                <div class="w-full flex">
                    <div class="mb-4 w-1/2 mr-1">
                        <label for="passagier-gewicht" class="uppercase block text-gray-700 font-bold mb-2">Passagier
                            (kg)</label>
                        <input type="number" min="0" placeholder="Gewicht passagier in kg" id="passagier-gewicht" {{ if .Passenger }}value="{{ .Passenger }}"{{ end }} name="passenger"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></div>
                    <div class="mb-4 w-1/2 ml-1"> <label for="passenger-seat"
                                                         class="uppercase block text-gray-700 font-bold mb-2">Stoel Positie</label>
                        <select id="passenger-seat" name="passenger_seat"
                                class="custom-select shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer"
                                required>
                            <option value="b" {{ if eq (derefString .PassengerSeat) "b" }}selected{{ end }}>Achter</option>
                            <option value="m" {{ if eq (derefString .PassengerSeat) "m" }}selected{{ end }}>Midden</option>
                            <option value="f" {{ if eq (derefString .PassengerSeat) "f" }}selected{{ end }}>Voor</option>
                        </select>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="bagage-gewicht" class="uppercase block text-gray-700 font-bold mb-2">bagage (kg, max.
                        40)</label>
                    <input type="number" min="0" max="40" placeholder="Gewicht bagage in kg" id="bagage-gewicht" {{ if .Baggage }}value="{{ .Baggage }}"{{ end }} name="baggage"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
            </div>
            <div class="w-full flex flex-col sm:ml-2">
                <div class="mb-4">
                    <label for="oat" class="uppercase block text-gray-700 font-bold mb-2">Buitentemperatuur
                        (&deg;C)</label>
                    <input type="number" min="-30" max="40" placeholder="Buitentemperatuur in &deg;C" min="0" id="oat"
                           name="oat" {{ if .OutsideAirTemperature }}value="{{ .OutsideAirTemperature }}"{{ end }}
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           required>
                </div>
                <div class="mb-4">
                    <label for="pressure-altitude" class="uppercase block text-gray-700 font-bold mb-2">Drukhoogte
                        (Voeten)</label>
                    <input type="number" min="0" max="8000" placeholder="Drukhoogte in voeten" id="pressure-altitude" {{ if .PressureAltitude }}value="{{ .PressureAltitude }}"{{ end }} name="pressure_altitude"
                           required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>

                {{ block "wb_form_wind_option" . }}{{ end }}
            </div>
        </div>

        <div class="mt-4 flex items-center justify-between">
            <input name="submit" value="Volgende" type="submit"
                   class="cursor-pointer w-full bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
    </form>

</div>
{{ end }}
