{{ define "wb_form_wind_option" }}
<div class="mb-4" id="wind-option">
<label for="wind" class="uppercase block text-gray-700 font-bold mb-2">Wind (kts)</label>
<div class="flex">
    <input type="number" min="0" {{ if eq (derefString .WindDirection) "tailwind" }}max="10"{{ else }}max="20"{{ end }} placeholder="Wind (kts)" id="wind" name="wind" required value="{{ .Wind }}"
            class="shadow mr-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <select aria-label="Windrichting" id="wind-direction" hx-get="/wind-option" hx-trigger="change" hx-target="#wind-option" hx-include="[name='wind'],[name='wind_direction']" name="wind_direction" required class="custom-select shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer">
        <option value="headwind" {{ if ne (derefString .WindDirection) "tailwind" }}selected{{ end }}>Tegenwind</option>
        <option value="tailwind" {{ if eq (derefString .WindDirection) "tailwind" }}selected{{ end }}>Rugwind</option>
    </select>
</div>
</div>
{{ end }}